DirectoryIndex 
AddDefaultCharset UTF-8
RewriteEngine On
RewriteBase /
RewriteRule ^([^*]+)/categorylist/([0-9]+)$ site.php?g=$1&p=$2 [L]
RewriteRule ^([^*]+)$ site.php?g=$1 [L]
RewriteRule ^([^*]+)/list/([0-9]+)$ list.php?cat=$1&id=$2 [L]
RewriteRule ^([^*]+)(.*)$ download.php?cat=$1&id=$2 [L]

RewriteRule ^([^*]+)/view/([0-9]+)$ view.php?cat=$1&id=$2 [L]
ErrorDocument 304 /index.html
ErrorDocument 400 /index.html
ErrorDocument 401 /index.html
ErrorDocument 403 /index.html
ErrorDocument 404 /index.html
ErrorDocument 406 /index.html
ErrorDocument 500 /index.html
ErrorDocument 502 /index.html
