DirectoryIndex 
AddDefaultCharset UTF-8
RewriteEngine On
RewriteBase /

ErrorDocument 304 /index.html
ErrorDocument 400 /index.html
ErrorDocument 401 /index.html
ErrorDocument 403 /index.html
ErrorDocument 404 /index.html
ErrorDocument 406 /index.html
ErrorDocument 500 /index.html
ErrorDocument 502 /index.html
